target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
site/data/
.svn
site/solrhome
combined/data/
combined/solrhome
/lib/dev/jrebel/bin/jrebel-temp/
licensing.info
/log/*
bin/
lib/dev/jrebel/bin/jrebel-temp/
jrebel.log
core/src/main/resources/rebel.xml
admin/src/main/resources/rebel.xml
rebel.xml
catalina.sh
UNABLE TO INITIALIZE LICENSING - NO LICENSE FOUND.error
scripts/db/convert-passwords.out
scripts/db/convert-passwords.sh
