<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
		
		<context:component-scan base-package="org.alloy.site.controller"/>
		<context:component-scan base-package="org.alloy.site.managed"/>
		
		<mvc:annotation-driven/>
		
		<!-- **************************************************************** -->
		<!--  THYMELEAF-SPECIFIC ARTIFACTS                                    -->
		<!--  TemplateResolver <- TemplateEngine <- ViewResolver              -->
		<!-- **************************************************************** -->

		<bean id="templateResolver" class="org.alloy.site.views.AlloyTemplateResolver">
			<property name="prefix" value="views/" />
			<property name="suffix" value=".html" />
			<property name="templateMode" value="LEGACYHTML5" />
			<property name="cacheable" value="${thymeleaf.cache}"/>
		</bean>
	    
		<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
			<property name="templateResolver" ref="templateResolver" />
			<property name="additionalDialects">
		        <set>
		            <ref bean="alloyDialect"/>
		        </set>
    		</property>
		</bean>
	   
		<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
			<property name="templateEngine" ref="templateEngine" />
		</bean>
		
		<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	        <property name="order" value="-10" />
	        <property name="mappings">
	            <props>
	                <prop key="/js/**">resourceHttpRequestHandler</prop>
	                <prop key="/css/**">resourceHttpRequestHandler</prop>
	                <prop key="/fonts/**">resourceHttpRequestHandler</prop>
	            </props>
	        </property>
	    </bean>
</beans>